---
layout: page
title: Some Projects & Writings
---
<div class="section-container">
    <div class="container">
        <div class="row resume-row-label">
            <div class="col-xs-12">
                <div class="template-example">
                    
                    <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
                        <div class="text-center">
      
                          <p>Welcome to my portfolio! View my most recent projects, which highlight my innovative thinking and
                            practical solutions.</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container posts">
        <!-- {% for post in site.posts %}
        <div class="row">
            <div class="col-xs-12">
                <div class="template-example">
                    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d, %Y" }}</time>
                </div>
            </div>
        </div>

        {% endfor %} -->
        <ul>
            {% for post in site.posts %}
            <li>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d, %Y" }}</time>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>